/* css styles */
.listing {
  border: 1px solid #e0e0e0;
  padding: 1rem;
  margin-top: 2rem;
  background-color: #f9f9f9;
}

.listing .listing-title {
  font-size: 1.5rem;
  color: #333;
}

.listing .listing-date {
  color: #777;
  font-size: 0.9rem;
}